<!-- [ navigation menu ] end -->
<div class="pcoded-content">
  <div class="pcoded-inner-content">



    <!-- [ breadcrumb ] start -->
    <div class="page-header card">
      <div class="row align-items-end">
        <div class="col-lg-8">
          <div class="page-header-title">
            <i class="feather icon-credit-card bg-c-blue"></i>
            <div class="d-inline">
              <h5>Todas las Categorias</h5>
              <span>Esta Seccion Muestra el listado de todas las Categorias</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="page-header-breadcrumb">
            <ul class=" breadcrumb breadcrumb-title">
              <li class="breadcrumb-item">
                <a routerLink="/dashboard"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item"><a href="#!">Almacén</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#!">Categorías</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->




    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
          <!-- [ page content ] start -->
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h5>Acciones</h5>
                  <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                      <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                      <li><i class="feather icon-maximize full-card"></i></li>
                      <li><i class="feather icon-minus minimize-card"></i></li>
                      <li><i class="feather icon-refresh-cw reload-card"></i></li>
                      <li><i class="feather icon-trash close-card"></i></li>
                      <li><i class="feather icon-chevron-left open-card-option"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="card-block">


                  <div class="col-md-12 col-sm-12  ">
                    
                    <div class="x_panel ">
                      <button (click)="AddCategoria()" class="btn btn-info pull-right" style="margin-left: 10px; float: right;">Nuevo</button>
                      <!-- <button (click)="alertWithSuccess()" class="btn btn-primary pull-right" style="margin-left: 10px; float: right;">Reporte</button> -->

                      
                    </div>
                  </div>





                </div>
              </div>
            </div>
          </div>
          <!-- [ page content ] end -->
        </div>
      </div>
    </div>





    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
          <!-- [ page content ] start -->
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h5>Lista de Categorias</h5>
                  <span>todas las categorias</span>
                  <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                      <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                      <li><i class="feather icon-maximize full-card"></i></li>
                      <li><i class="feather icon-minus minimize-card"></i></li>
                      <li><i class="feather icon-refresh-cw reload-card"></i></li>
                      <li><i class="feather icon-trash close-card"></i></li>
                      <li><i class="feather icon-chevron-left open-card-option"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="card-block">


                  <div class="col-md-12 col-sm-12  ">
                    
                    <div class="x_panel">


                      <div class="x_content">
                         


                        <div class="table-responsive">
                          <table class="table table-hover table-bordered table-sm ">
                            <thead class="thead-dark">
                              <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let row of data">
                                <th scope="row">{{ row.id }}</th>
                                <td>{{ row.nombre }}</td>
                                <td>{{ row.descripcion }}</td>
                                <td>
                                  <button (click)="Editar(row)"  class="btn btn-mat waves-effect waves-light btn-info btn-sm">Edit</button>
                                  <button (click)="Delete(row)"  class="btn btn-mat waves-effect waves-light btn-danger btn-sm" style="margin-left: 3px;">Delete</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>


                      </div>
                    </div>
                  </div>





                </div>
              </div>
            </div>
          </div>
          <!-- [ page content ] end -->
        </div>
      </div>
    </div>


  </div>
</div>
<!-- [ style Customizer ] start -->
<div id="styleSelector">
</div>
<!-- [ style Customizer ] end -->